@font-face {
    font-family: 'CooperHewitt-Bold';
    src: url('CooperHewitt-Bold.ttf') format('truetype');
    /* Add any additional font properties here, like font-weight or font-style */
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, #2f2f2f, #000000);
    color: #fff;
    
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'CooperHewitt-Bold', sans-serif;
;

}

#headerproj{
    width: 100%;
    height: 10vh;
    
    
}

.container {
    padding: 10px 10%;
    
  
}

.container1 {
    padding: 10px 10%;
    background-color: transparent;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 300px;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-family: 'CooperHewitt-Bold', sans-serif;
    font-weight: 600;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #FFAD3A;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text{
    margin-top: 18%;
    font-size: 30px;

}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #FFAD3A;
}

.materials{
    font-size: 20px;
}



#intro{
    padding: 80px 0;
    color: #ffffff;
}

#materials{
    padding: 80px 0;
    color: #ffffff;
}

/* About Section */

#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-motion-1{    
    flex-basis: 45%;
   
}

.about-motion-3{    
    flex-basis: 45%;
   
}
.about-bread-1{    
    flex-basis: 45%;
   
}
.about-motion-2{
    flex-basis: 50%;
}

.about-bread-1 img {
    max-width: 100%;
    height: auto;
    padding-right: 40px;
}



.about-bread-2 ul {
    padding-left: 20px;
    margin-top: 10px;
}


.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-motion-1 img{
    width: 100%;
    border: 2px solid #FFAD3A;

    border-radius: 15px;
    transition: transform 0.5s;
}

.about-motion-1 video{
    width: 100%;
    height: 100%;
    border: 2px solid #FFAD3A;
    border-radius: 10px;
    transition: transform 0.5s;
    
}
.about-motion-3 video{
    width: 100%;
    height: 30%;
    border: 2px solid #FFAD3A;
    border-radius: 10px;
    transition: transform 0.5s;
    
}
.about-col-2{
    flex-basis: 60%;
}

.about-motion-1:hover img{
    transform: scale(1.1);
}

.about-motion-1:hover video{
    transform: scale(1.1);
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:#fff;
}
.sub-title-1{
    font-size: 40px;
    font-weight: 600;
    color:#fff;
}

.tab-titles {
    display: flex;
    margin: 40px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 22px; /* Increase font size */
    font-weight: 500;
    font-family: 'CooperHewitt-Bold', sans-serif;
    cursor: pointer;
    position: relative;
    letter-spacing: 1px; /* Add letter spacing for more spread out look */
}


.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background:#FFAD3A;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li {
    list-style: disc; /* Use bullet points */
    margin: 20px 0; /* Increase space between list items */
    font-size: 16px;
}

.tab-contents ul li span {
    color: #ffad3a9d;
    font-size: 18px;
    font-weight: bold; /* Make the <span> items more bold */
}

.tab-contents{
    display:none;
}

.tab-contents.active-tab{
    display: block;
    
}

/* Portfolio */

#portfolio{
    padding: 50px 0;
    
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 80%;
}

.work img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #ffad3a9d);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}

.layer h3{
    font-weight: 700;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #FFAD3A;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;

}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 5px solid #FFAD3A;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
    font-weight: 600;

}

.btn:hover{
    background: #FFAD3A;
}

/*contact*/

#contact {
    display: flex;
    justify-content: center;
    
    height: 80vh; /* Adjust the height as needed */
    font-size: 24px; /* Adjust the font size as needed */
  }
  .contactinfo {
    text-align: center;
  }
  
  .contactinfo p {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust the spacing as needed */
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 10px; /* Adjust the spacing between icons */
    color: inherit;
    text-decoration: none;
  }    
  .email-link {
    color: inherit; /* Use the parent element's text color */
    text-decoration: none; /* Remove underline */
  }
  .email-link:hover {
    color: #FFAD3A; /* Change the color on hover if desired */
  }

  .link-link {
    color: inherit; /* Use the parent element's text color */
    text-decoration: none; /* Remove underline */
  }
  
  .link-link:hover {
    color: #FFAD3A; /* Change the color on hover if desired */
  }

  /* css for small screen */

nav .fas{
        display: none;
 }

.header-proj h1{
    margin-top: 3%;
    font-size: 40px;
    text-align: center;

}

  @media only screen and (max-width: 900px){
    #header{
        background-image: none;
        background-attachment: fixed;

    }

    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
        
    }
    nav .fas{
        display: block;
        font-size: 25px;
 }
 nav ul{
    background: #FFAD3A;
    position: fixed;
    top: 0;
    right: -250px; 
    width: 250px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
}

nav ul li a {
    font-size: 18px;
}
nav ul li{
    display: block;
    margin: 25px;
}
nav ul .fas{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;

}
.sub-title{
    font-size: 30px;
}

.about-col-1,.about-col-2{
    flex-basis: 100%;
}

.about-motion-1,.about-motion-2{
    flex-basis: 100%;
}
.about-col-1{
    margin-bottom: 30px;
}
.about-col-2 {
    font-size: 14x;
}

.about-motion-1{
    margin-bottom: 30px;
}
.about-motion-2 {
    font-size: 14x;
}

.tab-links{
    
    font-size: 16px;
    margin-right: 20px;
}

  }